.summaryContainerLoading {
    display: flex;
    justify-content: center;
}

.summaryContainer {
    font-size: 1.5rem;
    font-weight: 600;
}

.summaryContainer h2 {
    font-size: 1.5rem;
    margin-bottom: var(--gap);
    color: var(--color-1)
}

@media (max-width: 1000px) {
    .summaryContainer {
        flex-direction: column;
    }
}